/.dart_tool/flutter_build/d4c43b3716d0e4d848f38a3f490f2225/.filecache
/build/ios/Debug-iphonesimulator/.last_build_id
/build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib
/build/ios/iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib
/.dart_tool/flutter_build/d4c43b3716d0e4d848f38a3f490f2225/App.framework/App
/build/ios/Debug-iphonesimulator/App.framework/App
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/App
/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/App
/.dart_tool/flutter_build/d4c43b3716d0e4d848f38a3f490f2225/app.dill
/build/ios/Debug-iphonesimulator/Runner.app/AppFrameworkInfo.plist
/build/ios/iphonesimulator/Runner.app/AppFrameworkInfo.plist
/build/ios/Debug-iphonesimulator/Runner.app/AppIcon20x20@2x.png
/build/ios/iphonesimulator/Runner.app/AppIcon20x20@2x.png
/build/ios/Debug-iphonesimulator/Runner.app/AppIcon20x20@2x~ipad.png
/build/ios/iphonesimulator/Runner.app/AppIcon20x20@2x~ipad.png
/build/ios/Debug-iphonesimulator/Runner.app/AppIcon20x20@3x.png
/build/ios/iphonesimulator/Runner.app/AppIcon20x20@3x.png
/build/ios/Debug-iphonesimulator/Runner.app/AppIcon20x20~ipad.png
/build/ios/iphonesimulator/Runner.app/AppIcon20x20~ipad.png
/build/ios/Debug-iphonesimulator/Runner.app/AppIcon29x29.png
/build/ios/iphonesimulator/Runner.app/AppIcon29x29.png
/build/ios/Debug-iphonesimulator/Runner.app/AppIcon29x29@2x.png
/build/ios/iphonesimulator/Runner.app/AppIcon29x29@2x.png
/build/ios/Debug-iphonesimulator/Runner.app/AppIcon29x29@2x~ipad.png
/build/ios/iphonesimulator/Runner.app/AppIcon29x29@2x~ipad.png
/build/ios/Debug-iphonesimulator/Runner.app/AppIcon29x29@3x.png
/build/ios/iphonesimulator/Runner.app/AppIcon29x29@3x.png
/build/ios/Debug-iphonesimulator/Runner.app/AppIcon29x29~ipad.png
/build/ios/iphonesimulator/Runner.app/AppIcon29x29~ipad.png
/build/ios/Debug-iphonesimulator/Runner.app/AppIcon40x40@2x.png
/build/ios/iphonesimulator/Runner.app/AppIcon40x40@2x.png
/build/ios/Debug-iphonesimulator/Runner.app/AppIcon40x40@2x~ipad.png
/build/ios/iphonesimulator/Runner.app/AppIcon40x40@2x~ipad.png
/build/ios/Debug-iphonesimulator/Runner.app/AppIcon40x40@3x.png
/build/ios/iphonesimulator/Runner.app/AppIcon40x40@3x.png
/build/ios/Debug-iphonesimulator/Runner.app/AppIcon40x40~ipad.png
/build/ios/iphonesimulator/Runner.app/AppIcon40x40~ipad.png
/build/ios/Debug-iphonesimulator/Runner.app/AppIcon60x60@2x.png
/build/ios/iphonesimulator/Runner.app/AppIcon60x60@2x.png
/build/ios/Debug-iphonesimulator/Runner.app/AppIcon60x60@3x.png
/build/ios/iphonesimulator/Runner.app/AppIcon60x60@3x.png
/build/ios/Debug-iphonesimulator/Runner.app/AppIcon76x76@2x~ipad.png
/build/ios/iphonesimulator/Runner.app/AppIcon76x76@2x~ipad.png
/build/ios/Debug-iphonesimulator/Runner.app/AppIcon76x76~ipad.png
/build/ios/iphonesimulator/Runner.app/AppIcon76x76~ipad.png
/build/ios/Debug-iphonesimulator/Runner.app/AppIcon83.5x83.5@2x~ipad.png
/build/ios/iphonesimulator/Runner.app/AppIcon83.5x83.5@2x~ipad.png
/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/AssetManifest.json
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/AssetManifest.json
/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/AssetManifest.json
/build/ios/Debug-iphonesimulator/Runner.app/Assets.car
/build/ios/iphonesimulator/Runner.app/Assets.car
/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/assets/images/avatar.jpg
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/assets/images/avatar.jpg
/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/assets/images/avatar.jpg
/build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
/build/ios/iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib
/build/ios/Debug-iphonesimulator/Runner.app/_CodeSignature/CodeResources
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/_CodeSignature/CodeResources
/build/ios/iphonesimulator/Runner.app/_CodeSignature/CodeResources
/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/_CodeSignature/CodeResources
/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
/.dart_tool/flutter_build/d4c43b3716d0e4d848f38a3f490f2225/debug_ios_bundle_flutter_assets.stamp
/.dart_tool/flutter_build/d4c43b3716d0e4d848f38a3f490f2225/debug_universal_framework.stamp
/.dart_tool/flutter_build/d4c43b3716d0e4d848f38a3f490f2225/debug_unpack_ios.stamp
/build/ios/Runner.build/Release-iphoneos/Runner.build/dgph
/build/f872507f30e2ff2523f0f1d19160266e.cache.dill.track.dill
/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/packages/font_awesome_flutter/lib/fonts/fa-brands-400.ttf
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/packages/font_awesome_flutter/lib/fonts/fa-brands-400.ttf
/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/packages/font_awesome_flutter/lib/fonts/fa-brands-400.ttf
/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/packages/font_awesome_flutter/lib/fonts/fa-regular-400.ttf
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/packages/font_awesome_flutter/lib/fonts/fa-regular-400.ttf
/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/packages/font_awesome_flutter/lib/fonts/fa-regular-400.ttf
/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/packages/font_awesome_flutter/lib/fonts/fa-solid-900.ttf
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/packages/font_awesome_flutter/lib/fonts/fa-solid-900.ttf
/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/packages/font_awesome_flutter/lib/fonts/fa-solid-900.ttf
/build/ios/Debug-iphonesimulator/Flutter.framework/Flutter
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Flutter
/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Flutter
/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/Flutter.h
/.dart_tool/flutter_build/d4c43b3716d0e4d848f38a3f490f2225/flutter_assets.d
/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterAppDelegate.h
/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterBinaryMessenger.h
/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterCallbackCache.h
/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterChannels.h
/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterCodecs.h
/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterDartProject.h
/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterEngine.h
/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterEngineGroup.h
/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterHeadlessDartRunner.h
/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterMacros.h
/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterPlatformViews.h
/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterPlugin.h
/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterPluginAppLifeCycleDelegate.h
/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterTexture.h
/build/ios/Debug-iphonesimulator/Flutter.framework/Headers/FlutterViewController.h
/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/FontManifest.json
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/FontManifest.json
/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/FontManifest.json
/.dart_tool/flutter_build/d4c43b3716d0e4d848f38a3f490f2225/gen_localizations.stamp
/build/d6bdcc2eff2a6af0092be06be9dc6d29/gen_localizations.stamp
/build/ios/Debug-iphonesimulator/Flutter.framework/icudtl.dat
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/icudtl.dat
/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/icudtl.dat
/build/ios/Debug-iphonesimulator/App.framework/Info.plist
/build/ios/Debug-iphonesimulator/Flutter.framework/Info.plist
/build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/Info.plist
/build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/Info.plist
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/Info.plist
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Info.plist
/build/ios/Debug-iphonesimulator/Runner.app/Info.plist
/build/ios/iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/Info.plist
/build/ios/iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/Info.plist
/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/Info.plist
/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Info.plist
/build/ios/iphonesimulator/Runner.app/Info.plist
/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/isolate_snapshot_data
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/isolate_snapshot_data
/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/isolate_snapshot_data
/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/assets/images/jf_logo.gif
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/assets/images/jf_logo.gif
/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/assets/images/jf_logo.gif
/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/kernel_blob.bin
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/kernel_blob.bin
/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/kernel_blob.bin
/.dart_tool/flutter_build/d4c43b3716d0e4d848f38a3f490f2225/kernel_snapshot.d
/.dart_tool/flutter_build/d4c43b3716d0e4d848f38a3f490f2225/kernel_snapshot.stamp
/build/last_build_run.json
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftCore.dylib
/build/ios/iphonesimulator/Runner.app/Frameworks/libswiftCore.dylib
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftCoreAudio.dylib
/build/ios/iphonesimulator/Runner.app/Frameworks/libswiftCoreAudio.dylib
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftCoreFoundation.dylib
/build/ios/iphonesimulator/Runner.app/Frameworks/libswiftCoreFoundation.dylib
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftCoreGraphics.dylib
/build/ios/iphonesimulator/Runner.app/Frameworks/libswiftCoreGraphics.dylib
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftCoreImage.dylib
/build/ios/iphonesimulator/Runner.app/Frameworks/libswiftCoreImage.dylib
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftCoreMedia.dylib
/build/ios/iphonesimulator/Runner.app/Frameworks/libswiftCoreMedia.dylib
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftDarwin.dylib
/build/ios/iphonesimulator/Runner.app/Frameworks/libswiftDarwin.dylib
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftDispatch.dylib
/build/ios/iphonesimulator/Runner.app/Frameworks/libswiftDispatch.dylib
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftFoundation.dylib
/build/ios/iphonesimulator/Runner.app/Frameworks/libswiftFoundation.dylib
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftMetal.dylib
/build/ios/iphonesimulator/Runner.app/Frameworks/libswiftMetal.dylib
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftObjectiveC.dylib
/build/ios/iphonesimulator/Runner.app/Frameworks/libswiftObjectiveC.dylib
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftos.dylib
/build/ios/iphonesimulator/Runner.app/Frameworks/libswiftos.dylib
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftQuartzCore.dylib
/build/ios/iphonesimulator/Runner.app/Frameworks/libswiftQuartzCore.dylib
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftUIKit.dylib
/build/ios/iphonesimulator/Runner.app/Frameworks/libswiftUIKit.dylib
/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/assets/images/logo.png
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/assets/images/logo.png
/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/assets/images/logo.png
/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/fonts/MaterialIcons-Regular.otf
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/fonts/MaterialIcons-Regular.otf
/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/fonts/MaterialIcons-Regular.otf
/build/ios/Debug-iphonesimulator/Flutter.framework/Modules/module.modulemap
/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/NOTICES
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/NOTICES
/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/NOTICES
/.dart_tool/flutter_build/d4c43b3716d0e4d848f38a3f490f2225/outputs.json
/.dart_tool/package_config.json
/.dart_tool/package_config_subset
/build/ios/Debug-iphonesimulator/Runner.app/PkgInfo
/build/ios/iphonesimulator/Runner.app/PkgInfo
/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/assets/fonts/Roboto-Bold.ttf
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/assets/fonts/Roboto-Bold.ttf
/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/assets/fonts/Roboto-Bold.ttf
/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/assets/fonts/Roboto-Regular.ttf
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/assets/fonts/Roboto-Regular.ttf
/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/assets/fonts/Roboto-Regular.ttf
/build/ios/Debug-iphonesimulator/Runner.app/Runner
/build/ios/iphonesimulator/Runner.app/Runner
/build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib
/build/ios/iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib
/build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r.nib
/build/ios/iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r.nib
/.dart_tool/version
/build/ios/Debug-iphonesimulator/App.framework/flutter_assets/vm_snapshot_data
/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/vm_snapshot_data
/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/vm_snapshot_data
/build/ios/Debug-iphonesimulator/Runner.swiftmodule/x86_64.swiftdoc
/build/ios/Debug-iphonesimulator/Runner.swiftmodule/x86_64.swiftmodule
/build/ios/Debug-iphonesimulator/Runner.swiftmodule/Project/x86_64.swiftsourceinfo
/build/ios/Debug-iphonesimulator/Runner.swiftmodule/x86_64-apple-ios-simulator.swiftdoc
/build/ios/Debug-iphonesimulator/Runner.swiftmodule/x86_64-apple-ios-simulator.swiftmodule
/build/ios/Debug-iphonesimulator/Runner.swiftmodule/Project/x86_64-apple-ios-simulator.swiftsourceinfo
